<!-- Dominica Torres Bohorquez -->
<app-feedback #feedback></app-feedback>

<div class="container mt-4">
  <app-section-header
    title="Gestión de Actividades"
    subtitle="Administra las actividades y tareas de las iniciativas."
    icon="bi bi-activity">
  </app-section-header>

    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2 class="fw-bold text-secondary">Listado de actividades</h2>
  
  @if(rolUsuario === 'Administrador'|| rolUsuario === 'Coordinador') {
    <button class="btn btn-success" (click)="openNew()">
      <i class="bi bi-plus-lg me-1"></i> Crear nueva actividad
    </button>
  }
  </div>

  <input type="text" class="form-control mb-3" placeholder="Buscar actividad por nombre..." #busq (keyup)="search(busq.value)" />

  <div class="table-container">
    <table class="table table-striped table-bordered table-hover mi-striped">
      <thead class="thead-green">
        <tr>
          <th>Iniciativa</th>
          <th>Nombre</th>
          <th>Lugar</th>
          <th>Fecha</th>
          <th>Cupo</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of actividad">
          <td>{{ getTipoIniciativa(item.id_iniciativa) }}</td>
          
          <td>{{ item.nombre }}</td>
          <td>{{ item.lugar }}</td>
          <td>{{ item.fecha | date:'dd/MM/yyyy' }}</td> 
          
          <td>{{ item.cupo_maximo }}
          </td>

              <td class="text-center">
              @if(item.estado === 'Planificada') {
                <span class="badge bg-success bg-opacity-10 text-success rounded-pill px-3">Planificada</span>
              } @else if(item.estado === 'Abierta') {
                <span class="badge bg-warning bg-opacity-10 text-warning rounded-pill px-3">Abierta</span>
              } @else if(item.estado === 'Cerrada') {
                <span class="badge bg-primary bg-opacity-10 text-primary rounded-pill px-3">Cerrada</span>
              } @else if(item.estado === 'Realizada') {
                <span class="badge bg-info bg-opacity-10 text-info rounded-pill px-3">Realizada</span>
              } @else {
                <span class="badge bg-secondary bg-opacity-10 text-secondary rounded-pill px-3">{{item.estado}}</span>
              }
            </td>

              <td class="text-center">
               <button class="btn btn-info btn-sm me-2" (click)="openInfo(item)" title="Ver detalles">
               <i class="bi bi-binoculars"></i> 
               </button>

  @if(rolUsuario === 'Administrador'|| rolUsuario === 'Coordinador') {
    <button class="btn btn-edit btn-sm me-2" (click)="openEdit(item)" title="Editar">
      <i class="bi bi-pencil-fill icon-edit"></i> 
    </button>
  }
   @if(rolUsuario === 'Administrador') {
    <button class="btn btn-delete btn-sm" (click)="eliminarActividad(item)" title="Eliminar">
      <i class="bi bi-trash3-fill icon-delete"></i> 
    </button>
  }
  
</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="actividadModal" tabindex="-1" #actividadModalRef>
    <div class="modal-dialog modal-lg"> 
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            {{ editingId ? 'Editar Actividad' : 'Nueva Actividad' }}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <form [formGroup]="formActividad" (ngSubmit)="save()">
          <div class="modal-body">
            
            <div class="row">
              <div class="col-md-6 mb-3">
                <label class="form-label">Tipo de Iniciativa</label>
                <select class="form-select" formControlName="id_iniciativa">
                  <option value="">Seleccione...</option>
                  <option *ngFor="let ini of iniciativas" [value]="ini.id_iniciativa || ini.id_iniciativa">
                    {{ ini.nombre }}
                  </option>
                </select>
                <span class="text-danger small" *ngIf="formActividad.get('id_iniciativa')?.invalid && formActividad.get('id_iniciativa')?.touched">
                  Seleccione una iniciativa.
                </span>
              </div>

              <div class="col-md-6 mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" formControlName="nombre" placeholder="Ej: Limpieza de Playa" />
                <span class="text-danger small" *ngIf="formActividad.get('nombre')?.invalid && (formActividad.get('nombre')?.dirty || formActividad.get('nombre')?.touched)">
                  <span *ngIf="formActividad.get('nombre')?.errors?.['required']">El nombre es obligatorio.</span>
                  <span *ngIf="formActividad.get('nombre')?.errors?.['minlength']">Mínimo 3 caracteres.</span>
                  <span *ngIf="formActividad.get('nombre')?.errors?.['pattern']">Solo letras y números.</span>
                </span>
              </div>

              <div class="col-md-6 mb-3">
                <label class="form-label">Lugar</label>
                <input type="text" class="form-control" formControlName="lugar" placeholder="Ej: Parque Central" />
                <span class="text-danger small" *ngIf="formActividad.get('lugar')?.invalid && formActividad.get('lugar')?.touched">
                  El lugar es obligatorio.
                </span>
              </div>

              <div class="col-md-3 mb-3">
                <label class="form-label">Fecha</label>
                <input type="date" class="form-control" formControlName="fecha" [min]="minDate" />
                <span class="text-danger small" *ngIf="formActividad.get('fecha')?.invalid && formActividad.get('fecha')?.touched">
                  Fecha requerida.
                </span>
              </div>

              <div class="col-md-3 mb-3">
                <label class="form-label">Cupo Máximo</label>
                <input type="number" class="form-control" formControlName="cupo_maximo" />
                <span class="text-danger small" *ngIf="formActividad.get('cupo_maximo')?.invalid && formActividad.get('cupo_maximo')?.touched">
                  Mínimo 1 persona.
                </span>
              </div>

              <div class="col-md-6 mb-3">
                <label class="form-label">Estado</label>
                <select class="form-select" formControlName="estado">
                  <option value="Abierta">Abierta</option>
                  <option value="Planificada">Planificada</option>
                  <option value="Realizada">Realizada</option>
                  <option value="Cerrada">Cerrada</option>
                </select>
              </div>

              <div class="col-12 mb-3">
                <label class="form-label">Descripción</label>
                <textarea class="form-control" formControlName="descripcion" rows="3" placeholder="Detalles de la actividad..."></textarea>
                <span class="text-danger small" *ngIf="formActividad.get('descripcion')?.invalid && formActividad.get('descripcion')?.touched">
                  La descripción es obligatoria (máx 255 caracteres).
                </span>
              </div>
            </div>

          </div>

          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">
              Cancelar
            </button>
            <button class="btn btn-primary" type="submit" [disabled]="formActividad.invalid">
              Guardar Cambios
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<app-dialog
  [visible]="dialogVisible"
  [title]="dialogTitle"
  [message]="dialogMessage"
  [data]="dialogData"
  (confirm)="dialogVisible = false"
  (cancel)="dialogVisible = false">
</app-dialog>